<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietry</title>
    <link rel="stylesheet" href="../static/style/index.css">
</head>
<body>
    <div class="form-container">
        <form id="exercise-form">
            <label for="date">날짜:</label>
            <input type="text" id="date" name="date" required>
            
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="activity">운동:</label>
            <input type="text" id="activity" name="activity" required>
            
            <label for="calories">소모 칼로리:</label>
            <input type="text" id="calories" name="calories" required>
            
            <label for="bpm">최대 bpm:</label>
            <input type="text" id="bpm" name="bpm" required>
            
            <input type="submit" value="추가">
        </form>
    </div>
    
    <div class="table-container">
        <table>
            <tr class="table-head">
                <th>날짜</th>
                <th>이름</th>
                <th>운동</th>
                <th>소모 칼로리</th>
                <th>최대 bpm</th>
            </tr>
            <tr class="table-data">
                <td>2023-07-12</td>
                <td>John Doe</td>
                <td>런닝</td>
                <td>350</td>
                <td>180</td>
            </tr>
        </table>
    </div>
</body>
</html>